.App {
}

.App-logo {
    height: 80px;
}

.App-header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.App-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.App-header .postal-code {
    padding-left: 60%;
}
